/* Importar fuente de Google Fonts - Poppins y Encode Sans*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Estilos del Encabezado */
.header {
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    z-index: 100;
    /*background: blue; color de fondo para apreciar el cambio*/
}

.nav {
    max-width: 1100px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    color: #fff;
    padding: 6px 24px;
    margin-top: 18px;
    border: 2px solid #fff;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
}

.button:active {
    transform: scale(0.97);
}

/* Estilo Fondo Encabezado */
.fondo{
    position: relative;
    background-image: url("/bg.jpg");
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Estilos de seccion Acerca de */
.acerca {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(3%, -20%); /* el primer digito sirve para el desplazamiento horizontal y el segundo para el vertical*/
    background-size: cover;          
}

#nombre{
    font-size:xx-large;
    font-family: "Poppins", sans-serif;
}

#titulo{
    font-size:large;
    font-family: "Poppins", sans-serif;
}

#titulo_modal_login{
    text-align: center;
    font-size: 30px;
    font-family: "Poppins";
    padding: 20px 0px;
}

#input_modal_login_correo{
    border: none;    
}

#input_modal_login_contraseña{    
    border: none;
}

.mod{
    margin: 30px;
}

.boton-modal-ingresar{
    border-radius: 6px;
}

.color-titulo{
    color: #0d94b9;
}

.nav-correccion{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-width: transparent;
}